@import "tailwindcss";

* {
  box-sizing: border-box;
}
:root {
  --background1: rgba(183, 4, 133, 0.1);
  --font-family: "Montserrat", sans-serif;
  --color-white: #ffffff;
} 
html {
  scroll-behavior: smooth;
  box-sizing: border-box;

}
body {
  height: 100vh;
  font-family: var(--font-family);
  box-sizing: border-box;
}

button {
  font-family: var(--font-family);
  cursor: pointer;
}
a {
  text-decoration: none;
}
